.block {
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.userContainer {
    display: flex;
    margin-bottom: 20px;
}

.userPhoto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.userInfo {
    margin-left: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: #626c72;
}

.pagesWrapper {
    display: flex;
    justify-content: center;
}

.pages {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #838daa;
}

.page_number {
    margin: 0 5px;
    cursor: pointer;
}

.page_number:hover {
    color: #a968ec;
}

.selected {
    color: #a968ec;
}

.arrowIcon {
    margin: 0 5px;
    cursor: pointer;
}

.arrowIcon:hover {
    color: #a968ec;
}