.appWrapper {
  margin: 0 auto;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
  "h h"
  "n c";

  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
}

.appWrapperContent {
  grid-area: c;
  background-color: cornflowerblue;
}

.preloaderContainer {
  background-color: #212428;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}